html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin: 0;

  background-color: #333333;

  overflow: hidden;
}
/* Wrapper for page content to push down footer */
#wrap {
  height: 100%;
  text-align: center;
}
#surface,
#surface2 {
  height: 100%;
  width: 49%;
  margin: 0 auto;
  max-width: 1280px;
}
